<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1040539511614-b27u9701ihupoklf65jqamrqsk1caqk1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1040539511614-b27u9701ihupoklf65jqamrqsk1caqk1</string>
	<key>API_KEY</key>
	<string>AIzaSyAxwWkGAcHlfUuFSFIb13AQPN0Wn81Z51w</string>
	<key>GCM_SENDER_ID</key>
	<string>1040539511614</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>AlqabbaniOmar.GameOfChats</string>
	<key>PROJECT_ID</key>
	<string>gameofchats-dfbfe</string>
	<key>STORAGE_BUCKET</key>
	<string>gameofchats-dfbfe.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1040539511614:ios:27215ee01c4c6245</string>
	<key>DATABASE_URL</key>
	<string>https://gameofchats-dfbfe.firebaseio.com</string>
</dict>
</plist>